openapi: 3.1.0
info:
  title: Google Cloud App Engine Admin API
  description: >-
    Provisions and manages developer App Engine applications, including deploying
    versions, managing traffic, and configuring services.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/appengine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://appengine.googleapis.com/v1
    description: Google Cloud App Engine Admin API v1
tags:
  - name: Applications
    description: Manage App Engine applications
  - name: Services
    description: Manage services within an application
  - name: Versions
    description: Manage versions of a service
  - name: Instances
    description: Manage instances running a version
paths:
  /apps/{appsId}:
    get:
      operationId: getApplication
      summary: Google Cloud App Engine Get Application
      description: Gets information about an application.
      tags:
        - Applications
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
          description: The application ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
    patch:
      operationId: updateApplication
      summary: Google Cloud App Engine Update Application
      description: Updates the specified Application resource.
      tags:
        - Applications
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
  /apps/{appsId}/services:
    get:
      operationId: listServices
      summary: Google Cloud App Engine List Services
      description: Lists all the services in the application.
      tags:
        - Services
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                  nextPageToken:
                    type: string
  /apps/{appsId}/services/{servicesId}:
    get:
      operationId: getService
      summary: Google Cloud App Engine Get Service
      description: Gets the current configuration of the specified service.
      tags:
        - Services
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
        - name: servicesId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
    delete:
      operationId: deleteService
      summary: Google Cloud App Engine Delete Service
      description: Deletes the specified service and all enclosed versions.
      tags:
        - Services
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
        - name: servicesId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
  /apps/{appsId}/services/{servicesId}/versions:
    get:
      operationId: listVersions
      summary: Google Cloud App Engine List Versions
      description: Lists the versions of a service.
      tags:
        - Versions
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
        - name: servicesId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
                  nextPageToken:
                    type: string
    post:
      operationId: createVersion
      summary: Google Cloud App Engine Create Version
      description: Deploys code and resource files to a new version.
      tags:
        - Versions
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
        - name: servicesId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
  /apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances:
    get:
      operationId: listInstances
      summary: Google Cloud App Engine List Instances
      description: Lists the instances of a version.
      tags:
        - Instances
      parameters:
        - name: appsId
          in: path
          required: true
          schema:
            type: string
        - name: servicesId
          in: path
          required: true
          schema:
            type: string
        - name: versionsId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instance'
                  nextPageToken:
                    type: string
components:
  schemas:
    Application:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        authDomain:
          type: string
        locationId:
          type: string
        codeBucket:
          type: string
        defaultBucket:
          type: string
        servingStatus:
          type: string
          enum:
            - UNSPECIFIED
            - SERVING
            - USER_DISABLED
            - SYSTEM_DISABLED
        defaultHostname:
          type: string
        gcrDomain:
          type: string
    Service:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        split:
          type: object
          properties:
            shardBy:
              type: string
            allocations:
              type: object
              additionalProperties:
                type: number
    Version:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        runtime:
          type: string
        env:
          type: string
        servingStatus:
          type: string
        createTime:
          type: string
          format: date-time
        createdBy:
          type: string
        instanceClass:
          type: string
        versionUrl:
          type: string
    Instance:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        appEngineRelease:
          type: string
        availability:
          type: string
        vmName:
          type: string
        vmZoneName:
          type: string
        vmId:
          type: string
        startTime:
          type: string
          format: date-time
        requests:
          type: integer
        averageLatency:
          type: integer
        memoryUsage:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        response:
          type: object
        metadata:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/appengine.admin: Full access to App Engine Admin API
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
security:
  - oauth2:
      - https://www.googleapis.com/auth/appengine.admin
