openapi: 3.1.0
info:
  title: Google Cloud App Engine Admin Applications Versions API
  description: Provisions and manages developer App Engine applications, including deploying versions, managing traffic, and configuring services.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/appengine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://appengine.googleapis.com/v1
  description: Google Cloud App Engine Admin API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/appengine.admin
tags:
- name: Versions
  description: Manage versions of a service
paths:
  /apps/{appsId}/services/{servicesId}/versions:
    get:
      operationId: listVersions
      summary: Google Cloud App Engine List Versions
      description: Lists the versions of a service.
      tags:
      - Versions
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      - name: servicesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Version'
                  nextPageToken:
                    type: string
    post:
      operationId: createVersion
      summary: Google Cloud App Engine Create Version
      description: Deploys code and resource files to a new version.
      tags:
      - Versions
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      - name: servicesId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Version:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        runtime:
          type: string
        env:
          type: string
        servingStatus:
          type: string
        createTime:
          type: string
          format: date-time
        createdBy:
          type: string
        instanceClass:
          type: string
        versionUrl:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        response:
          type: object
        metadata:
          type: object
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/appengine.admin: Full access to App Engine Admin API
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
