openapi: 3.1.0
info:
  title: Google Cloud App Engine Admin Applications Apps API
  description: Provisions and manages developer App Engine applications, including deploying versions, managing traffic, and configuring services.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/appengine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://appengine.googleapis.com/v1
  description: Google Cloud App Engine Admin API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/appengine.admin
tags:
- name: Apps
paths:
  /apps/{appsId}/services:
    get:
      operationId: listServices
      summary: Google Cloud App Engine List Services
      description: Lists all the services in the application.
      tags:
      - Apps
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
                  nextPageToken:
                    type: string
  /apps/{appsId}/services/{servicesId}:
    get:
      operationId: getService
      summary: Google Cloud App Engine Get Service
      description: Gets the current configuration of the specified service.
      tags:
      - Apps
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      - name: servicesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
    delete:
      operationId: deleteService
      summary: Google Cloud App Engine Delete Service
      description: Deletes the specified service and all enclosed versions.
      tags:
      - Apps
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      - name: servicesId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        response:
          type: object
        metadata:
          type: object
    Service:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        split:
          type: object
          properties:
            shardBy:
              type: string
            allocations:
              type: object
              additionalProperties:
                type: number
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/appengine.admin: Full access to App Engine Admin API
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
