openapi: 3.1.0
info:
  title: Google Cloud App Engine Admin Applications API
  description: Provisions and manages developer App Engine applications, including deploying versions, managing traffic, and configuring services.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/appengine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://appengine.googleapis.com/v1
  description: Google Cloud App Engine Admin API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/appengine.admin
tags:
- name: Applications
  description: Manage App Engine applications
paths:
  /apps/{appsId}:
    get:
      operationId: getApplication
      summary: Google Cloud App Engine Get Application
      description: Gets information about an application.
      tags:
      - Applications
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
        description: The application ID.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
    patch:
      operationId: updateApplication
      summary: Google Cloud App Engine Update Application
      description: Updates the specified Application resource.
      tags:
      - Applications
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
        response:
          type: object
        metadata:
          type: object
    Application:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        authDomain:
          type: string
        locationId:
          type: string
        codeBucket:
          type: string
        defaultBucket:
          type: string
        servingStatus:
          type: string
          enum:
          - UNSPECIFIED
          - SERVING
          - USER_DISABLED
          - SYSTEM_DISABLED
        defaultHostname:
          type: string
        gcrDomain:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/appengine.admin: Full access to App Engine Admin API
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
