openapi: 3.1.0
info:
  title: Google Cloud App Engine Admin Applications Instances API
  description: Provisions and manages developer App Engine applications, including deploying versions, managing traffic, and configuring services.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/appengine
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://appengine.googleapis.com/v1
  description: Google Cloud App Engine Admin API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/appengine.admin
tags:
- name: Instances
  description: Manage instances running a version
paths:
  /apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances:
    get:
      operationId: listInstances
      summary: Google Cloud App Engine List Instances
      description: Lists the instances of a version.
      tags:
      - Instances
      parameters:
      - name: appsId
        in: path
        required: true
        schema:
          type: string
      - name: servicesId
        in: path
        required: true
        schema:
          type: string
      - name: versionsId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      $ref: '#/components/schemas/Instance'
                  nextPageToken:
                    type: string
components:
  schemas:
    Instance:
      type: object
      properties:
        name:
          type: string
        id:
          type: string
        appEngineRelease:
          type: string
        availability:
          type: string
        vmName:
          type: string
        vmZoneName:
          type: string
        vmId:
          type: string
        startTime:
          type: string
          format: date-time
        requests:
          type: integer
        averageLatency:
          type: integer
        memoryUsage:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/appengine.admin: Full access to App Engine Admin API
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
